	/* Import structure */
@import "mixins.less";
@import "animations.less";
@import "fonts.less";

	/* Variables */
@height:34px; //34px
@width:980px; //980px
@marginTop:18px; //18px
@menuRadius:5px; //5px
@menuColor:#572103; //rgba(70,51,46,1)

	/* Stylesheet for centered menu */
html
{
	body
	{
		//background-image:url(../images/bg_small.jpg); background-repeat:repeat;
		background-color: rgb(204, 188, 148);
		.user-select(none);
	}
}

#menu
{
	display:table; z-index:100;
	margin:@marginTop auto 0 auto; width:@width; height:@height;
	
	border-radius:@menuRadius; border-spacing: 0 1px;
	background-color:@menuColor;
	.gradient(linear, ~'top, rgba(255,255,255,0.100) 0%, rgba(0,0,0,.150) 50%, rgba(0,0,0,.400) 50%, rgba(0,0,0,.050) 100%');
	box-shadow:1px 2px 7px 0px rgba(0,0,0,0.4);
	font-family:
		'Myriad Pro Light', 
		'Myriad Pro Regular', 
		'Lucida Grande', 
		'Lucida Sans Unicode', 
		Helvetica, Arial, 
		Verdana, 
		sans-serif;
	font-size: 13px; color:rgba(255,255,255,1); 
	line-height:100%; text-shadow:0 -1px 0 rgba(0,0,0,0.8);
	
	//.animation(showMenu, 3s);
	.appButton
	{
		background-color:rgba(255,255,255,.02);
		border-width:1px 0 0 1px; border-style:solid; border-color:rgba(255,255,255,.05);
		box-shadow:inset 0 0 20px 0px rgba(255,255,255,.03);
	}
	
	#nav
	{
		display:table-cell; vertical-align: middle;
		width:100%; height:100%;
		
		ul
		{
			display:table; table-layout:fixed;
			width:100%; height:100%;
			border-spacing:1px 0;
			list-style:none outside; text-align:center;
			
			li
			{
				display:table-cell; vertical-align:middle;
				.appButton;

				&:first-child
				{
					border-radius:(@menuRadius - 1) 0 0 (@menuRadius - 1);
				}
				&:hover
				{
					background-color:rgba(0,0,0,.04);
					cursor:pointer;
					border:none;
					padding:1px 0 0 1px;
					box-shadow:inset 3px 3px 1px -2px rgba(0,0,0,.2);
				}
				&:active
				{
					background-color:rgba(0,0,0,.2);
					cursor:pointer;
					border:none;
					box-shadow:inset 4px 5px 3px -3px rgba(0,0,0,.4);
				}
				#logo
				{
					position: relative; top:-2px;
					width: 22px; height: 22px; margin: 0 auto;
					background-size: 22px;
					background-image:url(../images/logo.svg); background-repeat:no-repeat;
				}
			}
		}
	}
	#search
	{
		display:table; height:100%; padding:0 13px; margin-right:1px;
		border-radius:0 (@menuRadius - 1) (@menuRadius - 1) 0;
		.appButton;
		
		form
		{
			display:table-cell; vertical-align: middle;
		}

		input
		{
			height:19px; width:77px;
			padding:0 8px 0 22px;
			
			border-radius:12px; border-width:1px 0 1px 0; border-style:solid; border-color:rgba(0,0,0,.7) transparent rgba(255,255,255,.2) transparent;
			background-color:rgba(255,255,255,.05); background-image:url(../images/magnifier_w.svg); background-repeat:no-repeat; background-size:100%; background-position:5px 4px;
			font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; 
			font-size: 12px; color:rgba(255,255,255,.7);
			.transition(~'width 0.3s ease, background-color 0.2s ease, color 0.2s ease');

			&:focus
			{
				width:130px;
				
				outline:none; border-color:rgba(0,0,0,1) transparent rgba(255,255,255,1) transparent;
				background-color:rgba(255,255,255,1); background-image:url(../images/magnifier_b.svg);
				color:black;
			}
		}
	}
}