/*
	Egna metoder
*/
[class*=static-ratio-]{
	position: relative !important; }
.static-ratio-100:after{
	content: ' ';
	display: table;
	padding-top: 100%; }
.static-ratio-80:after{
	content: ' ';
	display: table;
	padding-top: 80%; }
.static-ratio-60:after{
	content: ' ';
	display: table;
	padding-top: 60%; }
.static-ratio-content{
	position: absolute !important; 
	top: 0; bottom: 0; right: 0; left: 0; }
.center-child, .center-child-hor{
	text-align: center; }
.center-child > *, .center-child-vert > *, .center-child-hor > *{
	display: inline-block !important; }
.center-child:after, .center-child-vert:after{
	content: ' ';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
.float-fix { overflow: hidden !important; } /* after floated element */
.left { float: left !important; }
.right { float: right !important; }
.clear-fix:before, .clear-fix:after {
	content: ' ';
	display: table; }
.clear-fix:after { clear: both; }
/*
	Fixes
*/
.fixed.contain-to-grid, .fixed.contain-to-grid > nav{
	background: #89B4C4; }
.range-slider{
	margin-top: 8px;
	margin-bottom: 2px; }
.switch.tiny{
	height: 24px; }
.user-name-menu{ background-color: #79AABA !important; }
.user-name-menu:hover, .user-name-menu:focus{
	background-color: #222 !important; }
/*
	Design
*/
body{ 
	background-color: #D5E6ED; /*#e5e5e5*/
	font-size: 100%;
	min-width: 280px; }
.view-main{
	margin-bottom: 1rem; }
.view-main > div{
	margin-top: 1rem;}

.view-house{
	height: 100.00000%;
	background-color: #EDF6FA; /*eaeaea*/
	border: 1px solid #91B6C4;
	color: #666;
	font-size: 0.8rem; }
.nav-hover:hover{ cursor: pointer; }
.nav-hover:hover:before, .nav-hover:focus:before{
	content: ' ';
	position: absolute;
	top: 0px; bottom: 0px; right: 0px; left: 0px;
	z-index: 1;
	cursor: pointer;
	outline: 4px solid #008cba; }

.options-list {
	padding: 1px 1px 0px 1px;
	background-color: #CADCE3; } /*f1f1f1*/
.options-list-item {
	padding: 0.5rem 1rem;
	background-color: #EDF6FA; /*#e5e5e5*/
	border-bottom: 1px solid #CADCE3; }
.options-list-item-text{
	color: #666;
	font-size: 0.9rem; }
.options-list-item-text:first-letter{
	text-transform: uppercase; }

.view-house div[class*=house-]{
	position: relative; }
.house-wc{
	width: 25.00000%;
	height: 40.00000%;
	border-right: 1px solid #91B6C4;
	border-bottom: 1px solid #91B6C4;
	text-transform: uppercase; }
.house-bedroom{
	width: 35.00000%;
	height: 40.00000%;
	border-right: 1px solid #91B6C4;
	border-bottom: 1px solid #91B6C4; }
.house-kitchen{
	width: 40.00000%;
	height: 40.00000%;
	border-bottom: 1px dashed #91B6C4; }
.house-livingroom{
	width: 80.00000%;
	height: 60.00000%; }
.house-balcony{
	width: 20.00000%;
	height: 45.00000%;
	bottom: -15.00000%;
	border-right: 1px dotted #91B6C4;
	border-top: 1px dotted #91B6C4; }
div[class*=room-] {
	color: #666;
	position: relative;
	background-color: #EDF6FA;
	border: 1px solid #91B6C4; }
.room-wc{
	width: 62.50000%;
	height: 100%;
	text-transform: uppercase; }
.room-bedroom{
	width: 87.50000%;
	height: 100%; }
.room-kitchen{
	width: 100%;
	height: 100%; }
.room-livingroom{
	width: 100%;
	height: 75.00000%; }
[class*=house-]:first-letter, [class*=room-]:first-letter{
	text-transform: uppercase; }