/*
	Egna metoder
*/
.static-size-ratio{
	position: relative;
	width: 100%; }
.ssr-100:after{
	content:'';
	display: block;
	padding-top: 100%; }
.ssr-80:after{
	content:'';
	display: block;
	padding-top: 80%; }
.ssr-content{
	position: absolute; 
	top: 0; bottom: 0; right: 0; left: 0; }
.center-child{
	width: 100%;
	text-align: center; }
.center-child > *{
	display: inline-block;
	vertical-align: middle; }
.center-child:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }
/*
	Fixes
*/
/*
	Design
*/
body{ 
	background-color: #D5E6ED; /*#e5e5e5*/
	font-size: 100%;
	min-width: 280px; }
.view-main{
	margin-bottom: 1rem; }
.view-main > div{
	margin-top: 1rem;}


.view-house{
	height: 100%;
	width: 100%;
	background-color: #EDF6FA; /*eaeaea*/
	border: 1px solid #91B6C4;
	color: #666;
	font-size: 0.8rem; }
.view-house > div{
	float:left;
	position: relative; }
.view-house [class*=house-]:not([class*=balcony]):hover:before{
	content: '';
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
	cursor: pointer;
	border: 0.2rem solid #008cba; }


.options-list {
	padding: 1px 1px 0px 1px;
	background-color: #CADCE3; } /*f1f1f1*/
.options-list-item {
	padding: 0.5rem 1rem;
	background-color: #EDF6FA; /*#e5e5e5*/
	border-bottom: 1px solid #CADCE3;
	color: #666;
	font-size: .8rem;
	text-align: left; }
.options-list-item:first-letter{
	text-transform: uppercase; }
.options-list-item .switch {
	position: relative;
	float: right;
	height: 100%; }


.house-wc{
	width: 25.00000%;
	height: 40.00000%;
	border-right: 1px solid #91B6C4;
	border-bottom: 1px solid #91B6C4;
	text-transform: uppercase; }
.house-bedroom{
	width: 35.00000%;
	height: 40.00000%;
	border-right: 1px solid #91B6C4;
	border-bottom: 1px solid #91B6C4; }
.house-kitchen{
	width: 40.00000%;
	height: 40.00000%;
	border-bottom: 1px dashed #91B6C4; }
.house-livingroom{
	width: 80.00000%;
	height: 60.00000%; }
.house-balcony{
	width: 20.00000%;
	height: 45.00000%;
	bottom: -15.00000%;
	border-right: 1px dotted #91B6C4;
	border-top: 1px dotted #91B6C4; }
div[class*=room-] {
	margin: 0 auto;
	background-color: #EDF6FA; }
.room-wc{
	width: 62.50000%;
	height: 100%;
	border: 1px solid #91B6C4;
	text-transform: uppercase; }
.room-bedroom{
	width: 87.50000%;
	height: 100%;
	border: 1px solid #91B6C4; }
.room-kitchen{
	width: 100%;
	height: 100%;
	border: 1px solid #91B6C4; }
.room-livingroom{
	width: 100%;
	height: 75.00000%;
	border: 1px solid #91B6C4; }
[class*=house-]:first-letter, [class*=room-]:first-letter{
	text-transform: uppercase; }